footer {
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    .parteFooter {
        width: 20%;
        text-align: center;
        color: #1d2636;
        font-weight: 400;
        &:hover {
            color: rgb(93, 93, 202)
        }
        .logo-footer {
            img {
                width: 40%;
            }
        }
        h4 {
            font-size: 20px;
            margin-bottom: 30px;
        }
        a {
            display: block;
            text-decoration: none;
            color: #5D6678;
            font-weight: 300;
            transition: color .3s ease-in-out;
            margin-bottom: 10px;
        }
        .social-media {
            i {
                font-size: 20px;
                display: inline-block;
                color: #adb6c7;
                border: 1px solid #adb6c7;
                border-radius: 50%;
                width: 38px;
                height: 38px;
                line-height: 36px;
                cursor: pointer;
                margin-top: 20px;
                text-align: center;
                transition: all ease-in-out .3s;
                margin-right: 5px;
                &:hover {
                    color: #fff;
                    background-color: rgb(74, 74, 158);
                }
            }
        }
    }
}